In [1]:
fname = input ('Isikan nama awal')
mname = input ('iskan nama tengah')
iname = input ('isikan nama akhir')

print ('selamat datang',fname,mname,iname,"S.kom")

Isikan nama awalraihan
iskan nama tengahdaffa
isikan nama akhirabdurrohman
selamat datang raihan daffa abdurrohman S.kom

In [2]:
bil1 = input('isikan bilangan 1:')
bil2 = input('isikan bilangan 2:')
print(type(bil1))
hasil = int(bil1) + int(bil2)
print ('hasil penjumlahan', hasil)

isikan bilangan 1:3
isikan bilangan 2:4
<class 'str'>
hasil penjumlahan 7

In [1]:
p = input('isikan panjang persegi:')
l= input('isikan lebar persegi:')

luas = int(p) * int(l)
keliling = 2 * (int(p) + int(l))

print('luas persegi panjang', luas)
print('keliling persegi panjang', keliling)

isikan panjang persegi:6
isikan lebar persegi:9
luas persegi panjang 54
keliling persegi panjang 30

In [3]:
print ("januari", "febuari", "maret",  "april",  sep="#")

januari#febuari#maret#april

In [6]:
print("senin", "selasa", "rabu",  "kamis", "jumat", "sabtu", "minggu" ,sep="@", end="^_^")
print("one", "two", "three", "four", sep="\n")

senin@selasa@rabu@kamis@jumat@sabtu@minggu^_^one
two
three
four

In [8]:
number1 = 7
number2 = 10

#hasil perkalian 7 dan 10 adalah 70
print("perkalian {} dengan {} adalah {}". format(number1, number2, number1 * number2))

perkalian 7 dengan 10 adalah 70

In [16]:
first_letter = "A"
midlle_letter = "B"
last_letter = "C"
print("urutan huruf {1}{2}{0}". format(first_letter, midlle_letter, last_letter))

urutan huruf BCA

In [18]:
#sekarang tanggal 24 bulan april 2025
print("sekarang tanggal {tanggal} bulan {bulan} tahun {tahun}". format(tanggal = 20, bulan = "april", tahun = 2025))

sekarang tanggal 20 bulan april tahun 2025

In [32]:
kampus = "universitas nusa putra"
print("huruf pertama adalah:", kampus[0])
print("huruf terakhir adalah:", kampus[-1])
print("huruf range 0-10:", kampus[0:11])
print(kampus[-5:])
print(kampus[12:])
#reverse string
print(kampus[::-1])

huruf pertama adalah: u
huruf terakhir adalah: a
huruf range 0-10: universitas
putra
nusa putra
artup asun satisrevinu

In [36]:
#split => string -> list
kota = "jakarta sukabumi malang bandung surabaya"
list_kota = kota.split()
print(list_kota)
print(list_kota[0])

#join => list -> string
kota = "jakarta sukabumi malang bandung surabaya"
join_kota = "_". join(list_kota)
print(join_kota)

['jakarta', 'sukabumi', 'malang', 'bandung', 'surabaya']
jakarta
jakarta_sukabumi_malang_bandung_surabaya

In [6]:
# isikan nama anda : bill gates
# isikan tanggal lahir : 18/12/2022
# output:
# nama awal: bill
# nama akhir : gates
# tanggal lahir : 18
# bulan lahir : 12
# tahun lahir : 2022
# nama inisial : BG
nama = input('isikan nama')
tanggal = input('isikan tanggal lahir')


list_nama = nama.split()
list_tanggal = tanggal.split("/")

print("nama awal", list_nama[0])
print("nama akhir", list_nama[1])
print("tanggal", list_tanggal[0])
print("bulan", list_tanggal[1])
print("tahun", list_tanggal[2])
print("inisial", list_nama[0][0], list_nama[1][0])

isikan namabill gates
isikan tanggal lahir18/desember/2022
nama awal bill
nama akhir gates
tanggal 18
bulan desember
tahun 2022
inisial b g